@font-face {
    font-family: 'Vela Sans';
    src: url('../fonts/VelaSans-ExtraLight.woff'), url('../fonts/VelaSans-ExtraLight.woff2');
    font-weight: 200;
}

@font-face {
    font-family: 'Vela Sans';
    src: url('../fonts/VelaSans-Regular.woff'), url('../fonts/VelaSans-Regular.woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'Vela Sans';
    src: url('../fonts/VelaSans-Medium.woff'), url('../fonts/VelaSans-Medium.woff2');
    font-weight: 500;
}

@font-face {
    font-family: 'Vela Sans';
    src: url('../fonts/VelaSans-SemiBold.woff'), url('../fonts/VelaSans-SemiBold.woff2');
    font-weight: 600;
}